* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider_container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    background: #2F2E2F;

}

.top_book_slider {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 100px;
    position: relative;
}

.sliderArrows1 {
    position: absolute;
    transform: translate(-565px, -15px);
}


.sliderArrows2 {
    position: absolute;
    transform: translate(565px, -15px);
}





.top_book_slider h2 {
    font-size: 42px;
    line-height: 1.2px;
    text-align: center;
    color: #FFFFFF;
}

.slider {
    padding-bottom: 60px;
}

.slide img {
    display: block;
    width: 100%;
}

.slide {
    padding: 15px;

}

.slide p {
    font-size: 16px;
    line-height: 1.2px;
    color: #C4C4C4;
    padding-top: 30px;
    padding-bottom: 10px;
}

.slide h4 {
    font-size: 18px;
    line-height: 1.2px;
    color: #C4C4C4;
    padding-bottom: 20px;
    padding-top: 20px;
}

.slide h3 {
    font-size: 30px;
    line-height: 1.2px;
    color: #C4C4C4;
    padding-top: 10px;
}

.slider_container_button button {

    color: #FFFFFF;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 17px;
    background: #9A8464;
    padding: 30px 90px;
    margin-top: 10px;
    border-width: 0px;
    margin-bottom: 40px;
}

.slider_container_button {

    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;


}
