@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}

a {
    display: inline-block;
    transition: all .4s;
    text-decoration: none;
}

img {
    display: block;

}

h1,
h2 {
    font-size: 42px;
    line-height: 1.2;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.brown_button {
    background: #9A8464;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 22px 40px;
    min-width: 300px;
    text-align: center;
}

.brown_button:hover {
    background: #776244;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2F2E2F;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

header a {
    color: #fff;
}

header a:not(.logo):hover {
    opacity: .6;
}

header .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
    height: 160px;
}

header ul {
    list-style: none;
    display: flex;
    padding-left: 260px;
}

header ul a {
    padding-left: 15px;
    padding-right: 15px;
}

header .transparent_button {
    padding: 12px 50px;
    font-size: 14px;
    letter-spacing: 0.02em;
    border: 1px solid #fff;
}

.banner {
    background-image: url(../images/BG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 146px;
    width: 100%;
    height: 895px;
    margin-bottom: 130px;
}

.banner_container {
    max-width: 1200px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}





.banner_container .left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 325px;

}

.banner_container .left h2 {
    color: #191719;
    font-size: 42px;
    line-height: 49px;
}

.banner_container .right {
    display: block;
    margin-top: 30px;

}



.main_text {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.main_text h2 {
    color: #191719;
    font-size: 42px;
    line-height: 49px;
    margin-bottom: 60px;

}

.main_text p {
    font-size: 18px;
    line-height: 26px;
    color: #191719;
    margin-bottom: 42px;
    text-align: left;
}


.about_us {
    padding-bottom: 130px;
    display: flex;
    align-items: center;
    color: #191719;
}

.about_us img {
    margin-top: 60px;
    margin-left: 50px;
    width: 80%;
}

.about_us .left {
    width: 50%;
    padding-right: 80px;
    position: relative;
}

.about_us .left::before {
    content: '';
    width: 50vw;
    z-index: -1;
    height: 60%;
    background: #2F2E2F;
    position: absolute;
    bottom: 100px;
    right: 100%;
    transform: translateX(200px);
}

.about_us .right {
    width: 50%;
}

.about_us h2 {
    font-size: 42px;
    line-height: 49px;
    color: #191719;
    display: flex;
    margin-top: 154px;

}



.about_us .transparent_button {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #9A8464;
    padding: 20px 90px;

    margin-top: 30px;
}

.about_us .transparent_button:hover {
    opacity: .6;
}

.map_Ukraine {
    background-image: url(../images/image%2069.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    background-position-y: bottom;


}

.contakt_map {
    text-align: center;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.contakt_map h2 {
    font-size: 42px;
    line-height: 49px;
    color: #191719;
    margin-bottom: 50px;

}


.map_container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 149px;
}

.map_container_left {
    display: block;
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 47px;


}

.map_container_left h3 {
    font-size: 18px;
    line-height: 21px;
    color: #191719;
    margin-top: 30px;
}

.map_container_left a {
    font-size: 22px;
    line-height: 26px;
    color: #191719;
    margin-top: 14px;
    display: inline-block;
    transition: all .4s;
    text-decoration: none;
}

.map_container_left p {
    font-size: 22px;
    line-height: 26px;
    color: #191719;
    margin-top: 14px;
}

.contact-socials {
    display: block;
    margin-top: 14px;
    display: flex;

}

.contact-socials svg {
    margin-right: 10px;
}



.footer_container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}


footer {

    top: 0;
    left: 0;
    width: 100%;
    background-color: #2F2E2F;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 999;
    height: 217px;

}



.information {
    display: block;
    display: flex;
    align-items: center;
    margin-top: 10px;


}

.information a {
    font-size: 16px;
    line-height: 36px;
    color: #FFFFFF;
    opacity: 0.6;
    padding-top: 10px;
    padding-left: 40px;
}

.information li {
    list-style: none;
}

.social_information {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: baseline;
    margin-top: 10px;
    margin-right: 160px;
    padding-left: 160px;
}

.social_information a {
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    padding-top: 20px;
}

.social_information a:nth-child(2) {
    padding-top: 1px;
}



.footer_container .social_button {
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 12px 50px;
    font-size: 14px;
    letter-spacing: 0.02em;
    border: 1px solid #fff;
    margin-top: 35px;

}

.contact-socials path {
    fill: #FFFFFF;
}

@media screen and (max-width:1125px) {
    header ul {
        padding-left: 180px;
    }

    .information a {
        padding-left: 30px;
    }

    .banner {
        margin-bottom: 60px;
    }

    .social_information {

        margin-right: 100px;
        padding-left: 100px;
    }

    .map_container {
        padding-bottom: 80px;

    }

    .about_us {
        padding-bottom: 80px;
    }

    .banner {
        height: 700px;

    }

    .banner_container .left {
        margin-top: 220px;
        text-align: center;
    }
}

@media screen and (max-width:1041px) {
    header ul {
        position: fixed;
        right: 0;
        flex-direction: column;
        top: 84px;
        background: #2F2E2F;
        padding: 40px;
        height: calc(100vh - 84px);
        transform: translateX(100%);
        transition: all .4s;
    }

    header ul.active {
        transform: translateX(0);
    }

    header ul a {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    header .container {
        justify-content: center;
    }

    header .burger {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .burger span {
        width: 40px;
        height: 1px;
        background-color: #fff;
        position: relative;
        transition: all .4s;
    }

    header .burger.active span {
        width: 0;
    }

    header .burger span::before,
    header .burger span::after {
        content: '';
        width: 40px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 0;
        transition: all .4s;
    }

    header .burger span::before {
        transform: translateY(-9px) translateX(-50%);
    }

    header .burger.active span::before {
        transform: translateY(0) translateX(-50%) rotate(45deg);
    }

    header .burger span::after {
        transform: translateY(9px) translateX(-50%);
    }

    header .burger.active span::after {
        transform: translateY(0) translateX(-50%) rotate(-45deg);
    }

    .banner_container .left h2 {
        color: #191719;
        font-size: 30px;
        line-height: 35px;
    }

    img {
        display: block;
        width: 100%;
    }

    .main_text h2 {
        color: #191719;
        font-size: 20px;
        line-height: 10px;
        margin-bottom: 20px;
    }

    .banner {
        height: 620px;
        margin-bottom: 20px;
    }

    .main_text p {
        font-size: 11px;
        line-height: 14px;
        color: #191719;
        margin-bottom: 18px;
    }

    .about_us img {
        margin-top: 0px;
        width: 60%;
        margin-left: 70px
    }

    .about_us h2 {
        font-size: 20px;
        line-height: 21px;
        margin-top: 30px;
    }

    .about_us .left {
        width: 45%;
        padding-right: 0px;
    }

    .about_us {
        padding-bottom: 20px;
    }

    .contakt_map h2 {
        font-size: 20px;
        line-height: 20px;
        color: #191719;
        margin-bottom: 25px;
    }

    img {
        display: block;
        width: 90%;
    }

    .map_container_left a {
        font-size: 15px;
        line-height: 3px;
        color: #191719;
        margin-top: 10px;
    }

    .map_container_left {
        margin-top: 50px;
        margin-left: 60px;
    }

    .map_container_left h3 {
        font-size: 17px;
        line-height: 16px;
        margin-top: 23px;
    }

    .map_container {
        padding-bottom: 30px;
    }

    footer {

        padding-top: 10px;
        padding-bottom: 10px;
        height: 160px;
    }

    .information a {
        font-size: 12px;
        line-height: 25px;
        color: #FFFFFF;
        opacity: 0.6;
        padding-top: 8px;
        padding-left: 40px;
    }

    .social_information a {
        font-size: 12px;
        line-height: 24px;
        color: #FFFFFF;
        padding-top: 25px;
    }


}

@media screen and (max-width:740px) {

    header .logo {
        width: 60px;
        height: 60px;
    }

    header .logo img {
        width: 100%;
    }

    header ul {
        width: 100%;
        align-items: center;
    }




}
